*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}

.section {
  padding-block: 24px;
}

.section > h2 {
  max-width: 960px;
  margin-inline: auto;
  margin-block: 0;
  padding-inline: 24px;
  margin-bottom: 12px;
}

.container {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 24px;
  background-color: oklch(0.95 0.05 240);
}

.grid {
  display: grid;

  &__item {
    &--nth {
      @for $i from 1 through 12 {
        &-#{$i} {
          background-color: oklch(0.9 0.05 $i * 30);
        }
      }
    }
  }

  &--opt-1 {
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr;
    grid-auto-rows: 1fr;
    column-gap: 0.75rem;
    row-gap: 1.5rem;
  }

  &--opt-2 {
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 200px repeat(2, 1fr);
    // 패륜 (부모 벗어남)
    // grid-template-columns: repeat(3, minmax(6.25rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax();
    column-gap: 0.75rem;
    row-gap: 1.5rem;
  }
}
